
* {
     box-sizing: border-box;
}

body { 
    /* background-color: lightgrey; */
    background-image: url("../images/vintage-concrete.gif");
    font-size: 20px;
    line-height: 34px;
    font-family: 'arial', 'Helvetica Neue', Helvetica, sans-serif;
    height: 100%;
    color: #777;
}
/*This sets up anchors to not be underlined, and for text to change to yellow on mouse hover  */
a { text-decoration: none;
}

a:hover {
    color: yellow;
}



h1, h2, h3, p {
    margin-bottom: 20px;
}
p:last-child {
    margin-bottom: 0;
}

h1, h2 {
    font-family: Georgia, Times,'Times New Roman', serif;
    font-weight: 700;
    color: #4daaa5;
}

h1 {
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid #ddd;
    padding-bottom: 20px;
}

h2, h3 {
    font-size: 22px;
}


.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
    height: 100%;
}

/*header*/

#mainhead {
    position: fixed;
    overflow: hidden;
    margin: 0 0 30px 0;
    width: 100%;
    background: #fff;
    z-index: 3;
    color: #fff;
    border-bottom: 2px solid #ccc;
    padding: 15px;
    
}

#logo {
    width: 250px;
    height: 90px;
    background: #4aaaa5;
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    line-height: 90px;
    color: #fff;
    font-weight: 700;
    font-size: 30px;
    text-decoration: none;
}

nav {
    float: right;
    margin-top: 25px;
}

nav a {
    color: #999;
    text-decoration: none;
    margin-left: 15px;
    display: inline-block;
    border-left: 2px solid #efefef;
    padding-left: 15px;
    line-height: 18px;
}

nav a:first-child {
    border-left: 0 none;
}
/*Main*/
#maincontainer {
    position: absolute;
    top: 150px;
    left: 30px;
    Height: Auto;
    Width: 650px;
    background-color: white;
    Padding: 15px; 
    margin-bottom: 150px;
}


#contact-form {
padding: 15px;
line-height: 5ch;
}


.sidebar {
    position: absolute;
    /* float: right; */
    top: 150px;
    left: 720px;
    Width: 270px;
    background-color: white;
    text-align: center;
    align-content: center;
}

.infoblock {
    background: #fff;
    padding: 30px;
    margin: 0 0 40px 0;
    width: 100%;
    max-width: 650px;
    float: left;
    border: 1px solid #ddd;
}

.myimage {
    width: 200px;
    height: 295px;
    margin-top: 10px;
    Margin-left: 10px;
    float: left;
    margin-right: 25px;
}
.project {
    width: 190px;
    float: left;
    margin: 15px;
    margin: 10px;
}
.description {
        position: relative;
        width: 100%;
        top: -120px;
        left: 0;
        background-color: rgba(0, 0, 0, .6);
        color: rgb(212, 250, 0);
        padding: 5px;
        Border-top: 3px solid rgb(212,250,0);
        Border-bottom: 3px solid rgb(212,250,0); 
    }

  #contact-form ul {
    margin-bottom: 25px;
  } 
#contact-form li {
    margin-bottom: 10px;
}

label, input[type=text], input[type=email], textarea{
    width: 100%;
    display: block;
}
input[type=text], input[type=email], textarea{
    height: 40px;
    border: 1px solid #ddd;
    padding: 0 8px;
    font-size: 15px;
}

textarea{
    height: 200px;
}
input[type=submit] {
    background-color: #4aaaaf;
    border: 0 none;
    color: #fff;
    font-size: 14px;
    padding: 12px;
    margin-bottom: 20px;
    cursor: pointer; 
    width: 100px;
    text-align: center;
    letter-spacing: 0.2em;
}

footer {
    Position: fixed;
    Bottom: 0;
    Left: 0;
    Right: 0;
    background-color:darkgray;
    color: white;
    width: 100%;
    height: 70px;
    font-size: 12px;
    text-align: center;
    border-top: 5px solid #4daaa5;
    line-height: 45px;
    /* -ms-text-size-adjust: auto;  */
}

@media screen and (max-width: 969px) {
    .container {
    position: static;
    width: 100%;
    }
    #maincontainer {
        position: absolute;
        width: 450px;
        top: 150px;
        margin: 100px 0px 50px 0px;
    }
    .myimage {
        float: none; 
    }

    .sidebar {
        position: absolute;
        margin: 100px 15px 50px 0px;
        top: 150px;
        left: 500px;
    }
    .project {
        float: none;
    }
}    

@media screen and (max-width: 768px) {
    .myimage {
        float: left;
        
    }
    #maincontainer {
        Width: 450px;
    }


    .sidebar {
        position: absolute;
        margin: 100px 15px 200px 0px;
        left: 30px; 
        /* margin-bottom: 200px; */
    }

    .project {
        float: left;
    }

    #connect1 {
        top: 1000px;
    }

    #connect2 {
        top: 1350px;
    }

    #connect3 {
        top: 900px;
    }

    @media screen and (max-width: 640px) {
        #logo {
            float: none;
        }
        nav {
            float: left;
            margin-top: 2px;
        }
        .project {
            float: none;
        }
        #connect2 {
            top: 2000px;
        }
        /* .sidebar {
            width: 100%;
        } */

}